// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
  background-color: #e9e7ef;
}

.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #cca4e3;
  border: none;
  color: #493131;
}
